* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}


/* styles for signup form */

.signup-form-container {
    background-color: white;
    width: 600px;
    margin: 100px auto;
    padding: 20px 0 15px;
    border-radius: 7px;
}

.signup-form {
    margin: 20px auto;
    width: 500px;
}

.signup-form * {
    display: block;
}

.signup-form-label {
    margin: 15px 0 2px;
}

.input-field {
    width: 100%;
    height: 60px;
    padding: 5px;
    font-size: 16px;
}

.submit-btn {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
}


/* styles for input panel */

.input-panel-container {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#input-panel {
    position: fixed;
    bottom: -200px;
    background-color: white;
    width: 100%;
    height: 200px;
    transition: 0.2s;
}

#close-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    font-size: 50px;
    line-height: 40px;
    width: 45px;
    padding: 1px;
    border-width: 0;
    background-color: white;
    color: red;
}

.help-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

#close-btn:hover {
    color: gray;
}

#morse-key-btn {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 302px;
    height: 152px;
    padding: 0;
}

/*
#morse-key img {
    height: 150px;
}
*/

#morse-key {
    background-color: #EEE;
}